.comment{
    border: 1px black solid;
    border-radius: 20px;
    padding: 5px;
    margin-top: 20px;
    position: relative;    
}
.comment_content{
    
}
.removedcontent{
    background-color: red;
}
.helpbutton{
    float: right;
    width: 30px;
    position: absolute;
    top: 0px;
    right: 0px; 
    margin: 2px;
}
.metadatabox{
    background-color: white;
    position: absolute;
    border: 1px solid black;
    z-index: 100;
    float: right;
    top: 40px;
    right: 0px; 
}